
html,body,div
{
  background-color:navajowhite;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

/* Styling for the roll button */
button {
  padding: 10px 20px;
  background-color: #61dafb;
  color: white;
  font-size: 16px;
  cursor: pointer;
  }
  
  /* Hover effect for the roll button */
  button:hover {
  background-color: #4fa3d1;
  }
