:root {
  font-family: sf pro display, sans-serif;
  font-size: 16px;
}

home {
background-image: src='../public/dragonwizard.jpg';
background-repeat: no-repeat;
background-size: 100% 100%;
float: left;
width: auto;
}


