<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="~{fragments :: head}"></head>

<body>
<h1 th:text="${'Class: ' + classes.name}">Default Title</h1>

<nav th:replace="~{fragments :: page-header}"></nav>

<div>
    <p th:text="${classInfo.name}"></p>
    <p> Characters:
    <ul>
        <li th:each="character : ${classInfo.characters}">
            <a th:href="@{'/view/' + ${character.id}}" th:text="${character.name}"></a>
        </li>
    </ul>
    </p>
</div>


</body>
</html>