<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="~{fragments :: head}"></head>
<body>
<h1>Add New Load-Out</h1>

<nav th:replace="~{fragments :: page-header}"></nav>

<form>
    <div>
        <label th:for="name">Load-out Name</label>
        <input th:field="${loadouts.name}" />
        <span th:errors="${loadouts.name}" class="error"></span>
    </div>

    <div>
        <label th:for="weapons">Weapons</label>
        <input th:field="${loadouts.weapons}" />
        <span th:errors="${loadouts.weapons}" class="error"></span>
    </div>

    <div>
        <label th:for="magicWeapons">Magic Weapons</label>
        <input th:field="${loadouts.magicWeapons}" />
        <span th:errors="${loadouts.magicWeapons}" class="error"></span>
    </div>

    <div>
        <label th:for="armor">Armor</label>
        <input th:field="${loadouts.armor}" />
        <span th:errors="${loadouts.armor}" class="error"></span>
    </div>

    <div>
        <label th:for="magicArmor">Magic Armor</label>
        <input th:field="${loadouts.magicArmor}" />
        <span th:errors="${loadouts.magicArmor}" class="error"></span>
    </div>

    <div>
        <label th:for="equipment">Equipment</label>
        <input th:field="${loadouts.equipment}" />
        <span th:errors="${loadouts.equipment}" class="error"></span>
    </div>

    <div>
        <label th:for="treasure">Treasure</label>
        <input th:field="${loadouts.treasure}" />
        <span th:errors="${loadouts.treasure}" class="error"></span>
    </div>

    <input type="submit" value="Add Loadout" />
</form>

</body>
</html>