<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="~{fragments :: head}"></head>
<body>
<h1>Add Proficiency</h1>

<nav th:replace="~{fragments :: page-header}"></nav>

<form>
    <div>
        <label th:for="name">Proficiency Name</label>
        <input th:field="${proficiency.name}" />
        <span th:errors="${proficiency.name}" class="error"></span>
    </div>

    <div>
        <label th:for="proficiency">Proficiencies</label>
        <input th:field="${proficiencies.proficiency}" />
        <span th:errors="${proficiencies.proficiency}" class="error"></span>
    </div>

    <input type="submit" value="Add Proficiency" />
</form>

</body>
</html>