<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="~{fragments :: head}">
</head>
<body>

<div th:replace="~{fragments :: page-header}"></div>

<p th:unless="${proficiencies} and ${proficiencies.size()}">No characters found!</p>

<div>
    <h2>Equipment</h2>
    <ul>
        <li th:each="proficiency : ${proficiencies}">
            <a th:href="@{'/proficiencies/view/' + ${proficiency.id}}" th:text="${proficiency.name}"></a>
        </li>
    </ul>
    <a th:href="@{'/proficiencies/add;}">Add Proficiencies</a>

</div>

</body>
</html>