<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="~{fragments :: head}">
</head>
<body>

<div th:replace="~{fragments :: page-header}"></div>

<div>

    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

    <table>
        <tr th:each="character : ${characters}">
            <td>
                <p>
                    Character Id:
                    <a th:href="@{'/view/' + ${character.id}}" th:text="${character.id}"></a>
                </p>
                <p th:text="${'Name: ' + character.name}"></p>
                <p>
                    Alignment:
                    <a th:href="@{'/alignments/view/' + ${character.alignment.id}}" th:text="${character.alignment.name}"></a>
                </p>
                <p>
                    Background:
                <ul th:each="background : ${character.backgrounds}">
                    <li>
                        <a th:href="@{'/backgrounds/view/' + ${background.id}}" th:text="${background.name}"></a>
                    </li>
                </ul>
                </p>
                <p>
                    Class:
                    <a th:href="@{'/classes/view/' + ${character.classInfo.id}}" th:text="${character.classInfo.name}"></a>
                </p>
                <p>
                    Load-out:
                    <li>
                        <a th:href="@{'/loadouts/view/' + ${weapon.id}}" th:text="${weapon.name}"></a>
                        <a th:href="@{'/loadouts/view/' + ${magicWeapon.id}}" th:text="${magicWeapon.name}"></a>
                        <a th:href="@{'/loadouts/view/' + ${armor.id}}" th:text="${armor.name}"></a>
                        <a th:href="@{'/loadouts/view/' + ${magicArmor.id}}" th:text="${magicArmor.name}"></a>
                        <a th:href="@{'/loadouts/view/' + ${equipment.id}}" th:text="${equipment.name}"></a>
                        <a th:href="@{'/loadouts/view/' + ${treasure.id}}" th:text="${treasure.name}"></a>
                    </li>
                </p>
                <p>
                    Proficiencies:
                    <p th:each="proficiency : ${character.proficiencies}">
                        <li>
                            <a th:href="@{'/proficiencies/view/' + ${character.proficiency.id}}" th:text="${character.proficiency.name}"></a>
                        </li>
                </p>
                <p>
                    Race:
                    <a th:href="@{'/races/view/' + ${character.race.id}}" th:text="${character.race.name}"></a>
                </p>
                <p>
                    Spells:
                <ul th:each="spell : ${character.spells}">
                    <li>
                        <a th:href="@{'/spells/view/' + ${character.spell.id}}" th:text="${character.spell.name}"></a>
                    </li>
                </ul>
                </p>
            </td>
        </tr>
    </table>

</div>

</body>
</html>