<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="~{fragments :: head}">
</head>
<body>

<div th:replace="~{fragments :: page-header}"></div>

<div>
    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>
    <h2>View Characters By Category</h2>
</div>

<table>
    <tr>
        <th>All</th>
        <th>Alignment</th>
        <th>Background</th>
        <th>Class</th>
        <th>Load-out</th>
        <th>Proficiencies</th>
        <th>Race</th>
        <th>Spells</th>
    </tr>

    <tr>
        <td>
            <li>
                <a th:href="@{/list/characters(column='All',value='View All')}">View All</a>
            </li>
        </td>
        <td>
            <li th:each="alignment : ${alignments}">
                <a th:href="@{/list/characters(column=alignment,value=${alignment.name})}" th:text="${alignment.name}"></a>
            </li>
        </td>
        <td>
            <li th:each="background : ${backgrounds}">
                <a th:href="@{/list/characters(column=background,value=${background.name})}" th:text="${background.name}"></a>
            </li>
        </td>
        <td>
            <li th:each="class : ${classs}">
                <a th:href="@{/list/characters(column=class,value=${class.name})}" th:text="${class.name}"></a>
            </li>
        </td>
        <td>
            <li th:each="proficiency : ${proficiencies}">
                <a th:href="@{/list/characters(column=proficiency,value=${proficiency.name})}" th:text="${proficiency.name}"></a>
            </li>
        </td>
        <td>
            <li th:each="race : ${races}">
                <a th:href="@{/list/characters(column=race,value=${race.name})}" th:text="${race.name}"></a>
            </li>
        </td>
        <td>
            <li th:each="spell : ${spells}">
                <a th:href="@{/list/characters(column=spell,value=${spell.name})}" th:text="${spell.name}"></a>
            </li>
        </td>
    </tr>
</table>

</body>
</html>