/* DisplayCharacters.css */
.title {
  text-align: center;
  justify-content: center;
  width: 100%;
  display: grid;
}
.character-grid {
  display: inline-block;
  width: 100%;
  row-gap: 10px;
  column-gap: 30px;
}

.character {
  text-align: center;
  margin: 10x;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  flex-wrap:wrap;
  display: inline-block;
}

.character h2 {
  margin: 0;
  padding: 0;
  font-size: 20px;
}

.edit-button {
  display: inline-block;
  padding: 15px;
}
.edit-button:hover {
  cursor: pointer;
  text-decoration: underline;
}

img.center {
  display: block;
  width: 100%;
}
