/* DisplayCharacters.css */
.title {
  text-align: center;
  justify-content: center;
  width: 100%;
  display: grid;
}
.character-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* creates a 3-column grid */
  gap: 20px; /* adds some space between the grid items */
}

.character {
  margin: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  flex-wrap: wrap;
  display: flex;
}

.character h2 {
  margin: 0;
  padding: 0;
  font-size: 20px;
}

.edit-button {
  margin-left: 10px;
}
.edit-button:hover {
  cursor: pointer;
  text-decoration: underline;
}

img.center {
  display: block;
  width: 100%;
}

form {
  background-color: black;
}