*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.navbar {
  background-color: rgb(23 23 23);
}

.navbar ul {
  display: flex;
  justify-content: start;
  gap: 15px;
  padding: 1em;
  list-style-type: none;
}

.navbar ul a {
  color: rgb(229 229 229);
  text-decoration: none;
  font-family: inter;
}

.navbar ul a.active {
  color: rgb(34 197 94);
}